*{
    padding: 0;
    margin: 0;
    font-family:Arial, Helvetica, sans-serif, fantasy ;
    font-weight: bolder;
 
 }
nav{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    
    background: rgba(146, 115, 115, 0.6);

}
nav ul{
    list-style: none;
    float: right;
    margin: 0;
    padding: 0;
    display: flex;
    
}
nav ul li{
    position:relative;
}
nav ul li a{
    line-height: 80px;
   color: black;
    padding: 12px 30px;
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
}
.dropdown__menu{
    display: none;
}
nav ul li:hover .dropdown__menu{
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background: rgba(0,0,0, 0.6);
    padding: 1px;
    line-height: normal;
}
.dropdown__menu ul{
    display: block;
}
.dropdown__menu ul li{
    width: 130px;
}

.head{
    display: flex;
    flex-direction: row;
}
.ww{
    position:absolute;
    top: 500px;
    left: 400px;
    width: 100px;
    height: 50px;
}
.wb{
  position: absolute;
    top: 500px;
    left: 1400px;
    width: 100px;
    height: 50px;
}
.tx{
    width: 350px;
    height: 450px;
    background: rgba(170, 160, 160, 0.6);
  
    margin-left: 1px;
}
.ph1{
    width: 350px;
    height: 450px;
    position: relative;
}
.new{
    display: flex;
    flex-direction: row;
    margin-top:60px;
    margin-left: 10px;
    justify-content: space-between;
    margin-left: 40px;
}
.ph4{
    margin-left: 40px;
}
.overlay{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
    height: 0;
    transition: ease 1s;
}
.ph1:hover .overlay{
height: 100%;
}
.fessta{
    width: 350px;
    height: 450px;

}

.txx{
position: absolute;
margin-top: 200px;
color: white;
margin-left: 17px;
}
.buy{
    width: 120px;
    height: 50px;
    text-decoration: none;
    color: white;
    background-color: black;
    margin-left: 90px;
    margin-top: 30px;
}

.overlay2{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    overflow: hidden;
    height: 0;
    transition: ease 1s;
}
.ph2:hover .overlay2{
    height: 100%;
}
.tx2{
    position: absolute;
    margin-top: 200px;
    color: white;
    margin-left: 20px;
    }
.djj{
    width: 350px;
    height: 450px;

}
.buy2{
    width: 120px;
    height: 50px;
    text-decoration: none;
    color: white;
    background-color: black;
    margin-left: 90px;
    margin-top: 30px;
}

.ph2{
    width: 350px;
    height: 450px;
    position: relative;
}



@media (max-width:500px){
    nav{
        background-color: red;
        position: relative;
       }
       .contanier{
        display: flex;
        flex-direction: column;
       }
       .head{
        display: flex;
        flex-direction: column;
       }
       .wwww{
        width: 100px;
       }
       .new{
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 10px;
       }
       .tx{
        margin-right: 60px;
        margin-top: 160px;
       }
       .ph4{
        margin-top: 40px;
       }
       .ph3{
        margin-top: 30px;
       }
       .ph2{
        margin-top: 20px;
       }
       .ph1{
        margin-top: 100px;
        background-image: url(images/paris.png);
       }
    .head{
        width: 480px;
        object-fit: cover;
    }
    *{
        padding: 0;
        margin: 0;
       
     }
    .testtt{
        width: 400px;
    }
    .ku{
        width: 400px;
    }
       
       .wb{
        position: absolute;
          top: 800px;
          left: 140px;
          width: 100px;
          height: 50px;
      }
     .ww{
        position:absolute;
        top: 300px;
        left: 140px;
        width: 100px;
        height: 50px;
    }   nav{
        background: rgba(146, 115, 115, 0.6);

    position: relative; 
   }
   .contanier{
    display: flex;
    flex-direction: column;
   }
   .head{
    display: flex;
    flex-direction: column;
   }
   .wwww{
    width: 100px;
   }
   .new{
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: 10px;
   }
   .tx{
    margin-right: 60px;
    margin-top: 160px;
   }
   .ph4{
    margin-top: 40px;
   }
   .ph3{
    margin-top: 30px;
   }
   .ph2{
    margin-top: 20px;
   }
   .ph1{
    margin-top: 100px;
    background-image: url(images/paris.png);
   }
.head{
    width: 480px;
    object-fit: cover;
}
*{
    padding: 0;
    margin: 0;
   
 }
.testtt{
    width: 400px;
}
.ku{
    width: 400px;
}
   
   .wb{
    position: absolute;
      top: 800px;
      left: 140px;
      width: 100px;
      height: 50px;
  }
 .ww{
    position:absolute;
    top: 300px;
    left: 140px;
    width: 100px;
    height: 50px;
}
}